[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --socket /tmp/api.sock --uid www-data --gid www-data --manage-script-name --chdir /var/lib/nginx/uwsgi --mount /=api:app
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
buffer-size=8192

[Install]
WantedBy=multi-user.target
