[Unit]
Description=Tomcat
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple

ExecStart=/usr/local/tomcat9/bin/startup.sh

ExecStop=kill $MAINPID
Restart=always
RestartSec=4
 
[Install]
WantedBy=default.target
